@import './index.scss';

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #163A5A;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-menu {
        width: 360px;
        margin: auto;

        .form {
            position: relative;
            z-index: 1;
            background-color: white;
            max-width: 360px;
            margin: 0 auto;
            padding: 45px;
            text-align: center;
            border-radius: 2rem;

            input {
                outline: 0;
                background-color: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                font-size: 14px;
                padding: 8px;
                border-radius: 2rem;
            }

            button {
                text-transform: uppercase;
                outline: 0;
                background-color: $primaryColor;
                width: 100%;
                border: 0;
                padding: 15px;
                color: white;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;

                &:hover,
                &:active,
                &:focus {
                    background-color: #163A5A;
                    transition: 0.5s;
                }
            }

            .message {
                margin: 15px 0 0;
                color: #b3b3b3;
                font-size: 12px;

                span {
                    color: $primaryColor;
                    cursor: pointer;
                }
            }

            .register-form {
                display: none;
            }
        }
    }
}